# git ignore file
# designed by hamayan.

# not need *.pdf
 *.pdf

# not need cppGraphic folder
# cppGraphic/

# not need logs folder
# logs/
GT-87_ProtocolSpecifications_eSIP_G13-000-11-012-11_jp.pdf
